@import "./Styles.css";

.img-container {
  width: 333px;
  height: 333px;
  border-radius: var(--radius);
}

.about img {
  width: 320px;
  height: 320px;
  object-fit: cover;
  border-radius: var(--radius);
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about .content {
  padding-top: 16px;
  align-self: center;
}

@media all and (min-width: 801px) {
  .about {
    margin-bottom: 75px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .heading {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .paragraph {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .content {
    grid-column: 2/3;
    grid-row: 1/3;
    justify-self: center;
  }
}
