:root {
  --navy: #112240;
  --light-navy: #233554;
  --green: #64ffda;
  --slate: #a8b2d1;
  --light-slate: #ccd6f6;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Roboto Mono", monospace;
  --letter-space: 1.5px;
  --radius: 4px;
  font-family: var(--primary-font);
  background-color: var(--navy);
  border-radius: var(--radius);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-smooth: always;
  --webkit-font-smoothing: antialiased;
  --moz-osx-font-smothong: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  background-color: transparent;
  border-width: 0;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0;
  cursor: pointer;
}

li {
  list-style: none;
}

ul {
  list-style: none;
}

h1 {
  font-size: 34px;
  color: var(--slate);
  letter-spacing: 1.5px;
}

h2 {
  font-size: 22px;
  color: var(--green);
  letter-spacing: 1.5px;
  margin-bottom: 16px;
}

h2:after {
  background-color: var(--light-slate);
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 35%;
  opacity: 0.5;
  left: 0.5em;
  margin-right: -50%;
}

h3 {
  font-size: 19px;
  color: var(--light-slate);
  font-weight: 400;
}

p {
  font-size: 16px;
  color: var(--slate);
  line-height: 1.5;
  text-align: justify;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}

a {
  text-decoration: none;
  font-size: 11px;
  font-weight: 500;
}

.a:hover {
  cursor: pointer;
}

@media all and (min-width: 750px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 42px;
    padding-bottom: 24px;
  }

  h3 {
    font-size: 24px;
  }

  p {
    font-size: 18px;
  }

  a {
    font-size: 14px;
  }
}
