@import "./Styles.css";

.card {
  height: 175px;
  width: 156px;
  background-color: var(--light-navy);
  border-radius: var(--radius);
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.card header {
  height: 116px;
  width: 156px;
  position: relative;
}

.card .comming-soon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background-color: black;
  opacity: 0.5;
  color: var(--green);
  text-transform: uppercase;
  height: 100%;
  border-radius: 3px;
  line-height: 116px;
}

.card img {
  height: 116px;
  width: 156px;
  object-fit: cover;
  border-radius: var(--radius);
}

.card h3 {
  font-family: var(--secondary-font);
  color: var(--light-slate);
  font-size: 14px;
  font-weight: 600;
  color: var(--green);
  letter-spacing: 1px;
  margin-bottom: 8px;
}
