@import "./Styles.css";

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 24px;
  margin-bottom: 48px;
}

.contact p {
  margin: 0;
  margin-bottom: 16px;
  margin-right: 48px;
}

.contact-icon {
  max-height: 24px;
  max-width: 24px;
  object-position: contain;
  margin: 8px;
  filter: invert(84%) sepia(15%) saturate(850%) hue-rotate(194deg)
    brightness(102%) contrast(93%);
}

.contact-info {
  color: var(--light-slate);
  margin: 8px;
  font-size: 17px;
  white-space: nowrap;
}

.contact-item {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.social-icon {
  height: 24px;
  width: 24px;
  margin: 24px;
  filter: invert(81%) sepia(39%) saturate(539%) hue-rotate(104deg)
    brightness(102%) contrast(102%);
}

footer {
  background-color: var(--light-navy);
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}

.socialmedia {
  display: flex;
  justify-content: center;
}

small {
  color: var(--light-slate);
  margin-bottom: 16px;
}

@media all and (min-width: 801px) {
  .contact {
    max-width: 960px;
    margin: 0 auto;
    padding-top: 64px;
    padding-bottom: 64px;
    margin-bottom: 48px;
  }

  .layout-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
