@import "./Styles.css";

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 24px;
  margin-bottom: 48px;
}

.contact p {
  margin: 0;
  margin-bottom: 16px;
}

.contact-icon {
  max-height: 24px;
  max-width: 24px;
  object-position: contain;
  margin: 8px;
  filter: invert(84%) sepia(15%) saturate(850%) hue-rotate(194deg)
    brightness(102%) contrast(93%);
}

.contact-info {
  display: block;
  color: var(--light-slate);
  margin: 8px;
  font-size: 17px;
  white-space: nowrap;
}

.contact-item {
  display: flex;
  align-items: center;
}

.social-icon {
  height: 24px;
  width: 24px;
  margin: 24px;
  filter: invert(81%) sepia(39%) saturate(539%) hue-rotate(104deg)
    brightness(102%) contrast(102%);
}

footer {
  background-color: var(--light-navy);
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}

.socialmedia {
  display: flex;
  justify-content: center;
}

small {
  color: var(--light-slate);
  margin-bottom: 16px;
}

@media all and (min-width: 801px) {
  .contact {
    margin-top: 75 px;
    padding: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
  }

  .heading {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .paragraph {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .content {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}
