@import "./Styles.css";

.button-primary {
  border-radius: var(--radius);
  border-color: var(--green);
  border-width: 3px;
}

.button-secondary {
  border-radius: var(--radius);
  border-color: var(--slate);
  border-width: 3px;
}
