@import "./Styles.css";

.logo-image {
  max-height: 44px;
  max-width: 44px;
  padding: 6px;
}

.logo-name {
  display: flex;
  align-items: center;
}

nav span {
  font-size: 0px;
}

.nav-container {
  position: fixed;
  top: 0;
  height: 8vh;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  background-color: var(--navy);
  display: flex;
  z-index: 5000;
  padding: 6px;
}

.nav-bar {
  height: 50%;
  width: 75%;
  border-radius: 3px;
  background-color: var(--light-navy);
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 5000;
}

.nav-item {
  text-decoration: none;
  color: var(--light-slate);
  display: block;
  font-family: var(--secondary-font);
  font-weight: 600;
  letter-spacing: 1px;
}

.nav-bar .nav-item:hover {
  color: var(--green);
  cursor: pointer;
}

@media all and (min-width: 750px) {
  .logo-image {
    max-height: 55px;
    max-width: 55px;
    padding: 8px;
  }

  .nav-bar {
    width: 40%;
    border-radius: 3px;
    background-color: var(--navy);
  }

  .nav-container {
    justify-content: space-between;
  }

  nav span {
    font-family: var(--secondary-font);
    color: var(--green);
    font-weight: 600;
    letter-spacing: 1.5px;
    font-size: 13px;
    padding-left: 12px;
  }
}
