@import "./MobileStyles.css";

.logo {
  height: 56px;
  width: 56px;
  z-index: 1000;
}

.logo-image {
  height: 56px;
  width: 56px;
  z-index: 1000;
}

.nav-container {
  position: fixed;
  top: 0;
  right: 0;
  height: 60px;
  width: 100%;
  background-color: var(--navy);
  display: flex;
  justify-content: center;
  align-items: center;
  /* position:fixed; */
}

.nav-bar {
  height: 30px;
  max-width: 100%;
  border-radius: 30px;
  background-color: var(--light-navy);
  padding-left: 30%;
  padding-right: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-item {
  text-decoration: none;
  color: var(--light-slate);
  padding: 16px;
  display: block;
  font-family: var(--secondary-font);
  letter-spacing: var(--letter-space);
}

.nav-bar .nav-item:hover {
  color: var(--green);
  cursor: pointer;
}
